



<h1>Sign Up Below:</h1>


<%= form_with model: @home_owner do |f| %>


<%= f.label "Choose your Homeowners Association:" %>
<br>
<%= f.collection_select :homeowners_association_id, @homeowners_associations, :id, :name %>
<br>
<br>
  <p>Enter your information below </P>
  <%= f.text_field :address, placeholder: :address %>
  <br>


  <%= f.text_field :username, placeholder: :username %>
  <br>

  <%= f.text_field :password, placeholder: :password %>
  <br>
  <br>

  <%= f.submit "Submit"%>


<% end %>
