



<h1>Sign Up Below:</h1>


<%= form_with model: @user do |f| %>


<%= f.label "Choose your Homeowners Association:" %>
<br>
<%= f.collection_select :homeowners_association_id, @homeowners_associations, :id, :name %>
<br>
<br>
  <p>Enter your information below </P>
  <%= f.text_field :address, placeholder: :address %>
  <br>

  <%= f.text_field :first_name, placeholder: :first_name %>  
  <%= f.text_field :last_name, placeholder: :last_name %>  
  <%= f.text_field :street, placeholder: :street %>  
  <%= f.text_field :city, placeholder: :city %>  
  <%= f.text_field :state, placeholder: :state %>
    <%= f.text_field :zip, placeholder: :zip %>
  
  <%= f.text_field :email, placeholder: :email %>
  <br>

  <%= f.text_field :password, placeholder: :password %>
  <br>
  <br>

  <%= f.submit "Submit"%>


<% end %>
