<h1>Account Info:</h1>
<ul>
  <li><%= current_user.first_name %></li>
  <li><%= current_user.last_name %></li>
  <li>Address: 
    <ul>
      <li><%= current_user.street %></li>
      <li><%= current_user.city %>, <%= current_user.state %> <%= current_user.zip %></li>
  </ul>
</ul>