<h1>Make A Payment:</h1>

<%= form_with model: @payment do |f| %>
  <%= f.label "Which Invoice Would You Like To Pay?" %>
  <%= f.select :invoice_id, @invoices_list.map {|invoice| [invoice.name, invoice.id]} %>

  <%=  f.number_field :payment_amount %>

  <%= f.submit %>
<% end %>
