<h1>Welcome to Admin Console</h1>
<ul>
  <li><%= link_to "Add a Homeowner",  new_admin_user_path %></li>
  <li> <%= link_to "View Homeowners",  'all_users' %></li>
  <li> <%= link_to "Create Invoice", 'invoices/new' %></li>
  <li> Total Amount Owed: <%= current_user.hoa.total_owed_by_all_hoa_users %></li>
    <li> Total Amount Outstanding: <%= current_user.hoa.total_outstanding_by_all_hoa_users %></li>
  <li> Total Amount Paid: <%= current_user.hoa.total_paid_by_all_hoa_users %></li>
</ul>
