<h1>Welcome to Admin Console</h1>
<ul>
  <li><%= link_to "Add a Homeowner",  new_admin_user_path %></li>
  <li> <%= link_to "View Homeowners",  admin_all_users_path %></li>
  <li> <%= link_to "Create Invoice", new_admin_invoice_path %></li>
  <li><%= link_to "Neighborhood News", posts_path %></li>
  
  <br>
  
  <li> Total Amount Owed: <%= current_user.hoa.total_owed %></li>
  <li> Total Amount Outstanding: <%= current_user.hoa.total_outstanding %></li>
  <li> Total Amount Paid: <%= current_user.hoa.total_paid %></li>
</ul>

<br>

<h3>Invoices Owed by Month:</h3>
<%= column_chart Invoice.group_by_month(:created_at).sum(:total_due) %>

<h3>Invoices Paid by Month:</h3>
<%= column_chart Payment.group_by_month(:created_at).sum(:payment_amount) %>

<% #note: note sure if this page goes here. ask josh where defaul page should go %>
