<!DOCTYPE html>
<html>
  <head>
    <title>favStreet</title>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag "application" %>
    <% if user_signed_in? %>
    <p>Welcome, <%= current_user.first_name %></p>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% end %>
  </head>
  <body>

      <% flash.each do |name, message| %>
      <div class="alert alert-<% name %> <%= name %> alert-dismissible fade show" %>
        <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <% end %>
        

    <%= yield %>

  </body>
</html>
